{include file='pub/base' /}
<div class="page-container">
		<body>
			<form action="{:url('/Index/User/pass')}" method="post" name="form" id="form">
			<input type="hidden" name="id" value="{:isset($info.id)?$info.id:''}">
		
			<table class="table table-border table-bordered table-hover table-bg">
				<tr class="text-c">
					<td colspan="4">修改密码</td>
				</tr>
				<tr class="tr rt">
					<td width="100">用户名称：</td>
					<td colspan="3" class="lt">{:isset($info.username)?$info.username:''}
					</td>
				</tr>
				<tr class="tr rt">
					<td width="100">密　　码：</td>
					<td  class="lt">
						<input type="password" name="password" style="width:200px" class='input-text' value="">
					</td>
					<td width="100">确认密码：</td>
					<td class="lt">
						<input type="password" name="repassword" style="width:200px"  class='input-text' value="">
					</td>
				</tr>
				
				
	<tr class="tr lt">
		<td colspan="4" class='text-c'>
			{present name="info.id"}
				<input class='btn btn-primary radius' type="submit" name="dosubmit" value="修 改" >
				{else/}
				<input class='btn btn-primary radius' type="submit" name="dosubmit" value="添 加">
			{/present}
			&nbsp;
			<input class='btn btn-primary radius' type="button" onclick="layer_close()" value="返 回" ></td>
	</tr>
</table>
</form>

</div>
<script>
$(function () {
        $("[name='status'][value='{$info.status ?? ''}']").attr("checked",true);
		$("[name='role']").find("[value='{$info.role ?? '0'}']").attr("selected",true);
        $("#form").Validform({
            tiptype:2,
            ajaxPost:true,
            showAllError:true,
            callback:function(ret){
                ajax_progress(ret);
            }
        });
    })
</script>
</body>
</html>