{include file='pub/base' /}
<div class="x-nav">
	<span class="layui-breadcrumb">
	  <a href="">首页</a>
	  <a href="">课室管理</a>
	  <a>
		<cite>课室列表</cite></a>
	</span>
	<a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" onclick="location.reload()" title="刷新">
	  <i class="layui-icon layui-icon-refresh" style="line-height:30px"></i></a>
</div>
<div class="layui-fluid">
	<div class="layui-row layui-col-space15">
		<div class="layui-col-md12">
			<div class="layui-card">
				<div class="layui-card-body ">
					<form class="layui-form layui-col-space5" method="post" action="{:url('index')}">
						
						<div class="layui-inline layui-show-xs-block">
							
							<a class="layui-btn" onclick="xadmin.open('添加/编辑教室','{:url(\'add\')}',600,500)"><i class="layui-icon"></i>添加</a>
						</div>
					</form>
				</div>
				
				<div class="layui-card-body ">
					<table class="layui-table layui-form">
					  <thead>
						<tr>
							<th width="40">ID</th>
							<th width="250">时间</th>
							<th width="100">排序</th>
							<th >备注</th>
							<th width="100">创建时间</th>
							<th width="100">是否已启用</th>
							<th width="150">操作</th>
					  </thead>
					  <tbody>
						{volist name='list' id='k'}
							<tr>
								<td>{$k.id}</td>
								<td>{$k.time_start} - {$k.time_end}</td>
								<td>{$k.displayorder}</td>
								<td>{$k.remark}</td>
								<td>{$k['createtime']|date='Y-m-d H:i'}</td>
								<td class="td-status">
									{if $k.status=="1"}
									<span class="layui-btn layui-btn-normal layui-btn-mini">已启用</span>
									{else}
									<span class="layui-btn layui-btn-danger layui-btn-mini">已禁用</span>
									{/if}
									</td>
								<td class="td-manage">
									<div class="btn-group">
										<button type="button" class="layui-btn" onclick="xadmin.open('修改','{:url(\'edit\',[\'id\'=>$k.id])}',600,500)">修改</button>
										<button type="button" class="layui-btn" onClick="admin_del(this,{$k.id})">删除</button>
									</div>
								</td>

							</tr>
						{/volist}
					  </tbody>
					</table>
				</div>
				<div class="page">{$page|raw}</div>
			</div>
		</div>
	</div>
</div> 

<script type="text/javascript">

	/*管理员-删除*/
	function admin_del(obj, id) {
		layer.confirm('请确认删除?', function (index) {

			$.ajax({
				type: 'POST',
				url: '{:url("delete")}?id=' + id + '',
				dataType: 'json',
				success: function (data) {
					if (data.code == 0) {
						$(obj).parents("tr").remove();
					}
					layer.msg(data.msg, { icon: 1, time: 2000 });
				},
				error: function (data) {
					console.log(data.msg);
				},
			});

		});
	}



</script>
</body>

</html>